In [28]:
#tenth power
def tenth_power(num):
    num=2
    return num**10
tenth_power("num")

1024

In [38]:
#square root
def square_root(num):
    num=16
    return num**0.5
square_root("num")

4.0

In [41]:
#calculate percentage of games won
def win_percentage(wins,losses):
    total_games = wins + losses
    ratio_won = wins/ total_games
    return ratio_won * 100
win_percentage(6,8)

42.857142857142854

In [46]:
#average
def average(num1,num2):
    return (num1+num2)/2
average(5,5)

5.0

In [51]:
#remainder
def remainder(num1,num2):
    return (num1*2)%(num2/2)
remainder(8,9)

2.5

In [55]:
def first_three_multiples(num):
    print(num*1, num*2, num*3)
    return num*3
first_three_multiples(7)

7 14 21

21

In [60]:
#calculate tip given to a waitress at a restaurant, the tip is a percentage of total cost of food consumed.
def tip(total, percentage):
    tip_amount = (total*percentage)/100
    return tip_amount
tip(50,10)

5.0

In [68]:
#Concatenate names
def introduction(first_name, last_name):
  print(last_name, ",", first_name, last_name)
introduction("James", "Bond")

Bond , James Bond

In [69]:
#calculate age of a dog in dog years
def dog_years(name,age):
    return name + ", "+"you are" +" "+str(age * 7)+ " " +"years old in dog years"
print(dog_years("Lola", 16))

Lola, you are 112 years old in dog years

In [72]:
#calculate multiple mathematical operations
def lots_of_math(a,b,c,d):
  first =a+b
  second = c-d
  third =first * second
  fourth = third % a
  print(first)
  print(second)
  print(third)
  return(fourth)
lots_of_math(2,4,10,8)

6
2
12

0